body { 
    background-color: #1D4221;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #0044cc;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc, 0 0 30px #00ffcc;
    border-radius: 8px;
    text-transform: uppercase;
}

button:hover {
    background-color: #00ffcc;
    box-shadow: 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}
